/*Global*/
*, *::before, *::after {
        box-sizing: border-box;
}

body {
	margin: auto;
	font-family: 'Montserrat', sans-serif;
}

.song {
	position: relative;
	max-width: 60%;
	max-height: 100%;
	margin-top: 96px;
}
.container {
	position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate (-50%, -50%);
}

.song-author {
	font-style: italic;
	font-size: 20px;
}

.source {
	text-decoration: underline;
}

.page-footer {
	position: fixed;
	bottom: 0;
	padding-top: 20px;
	text-align: center;
	width: 100%;
	background-color: grey;
	color: white;
	height: 50px;
}